/* Global Styles */

body {
  font-family: 'Roboto', sans-serif;
  color: #D9E4E8;
}

h1, h2{
  font-size: 2.5em;
  font-family: 'Montserrat', sans-serif;
  color: #f7e678;
  text-align: center;
}

h2{
  font-size: 3em;
  margin-top: 30px;
  margin-bottom: 40px;
}

h3{
  font-size: 1.8em;
  color:#f7e678;
}
p{
  font-size: 1em;
  font-weight: 300;
}

img{
  width: 100%;
  height: auto;
}

.row{
  margin-bottom: 30px;
}


/* ----------- Header ------------- */

.header{
  margin-bottom: 30px;
  margin-bottom: 0px;
  background-color: #1C458D;
}

/* ------------ Intro --------------*/
.bio{
  background-color: #253A83;
  padding-top: 30px;
}

.intro-text{
  width: 40%;
}

.intro-text a{
  color: #f7e678;
}

.intro-text a:hover{
  text-decoration: none;
}


/* ------------- Work -------------- */

.work{
  background-color: #3E62AB;
}

.work img{
  width: 50%;
  height: auto;
}

.work ul{
  list-style-type: none;
}

.carousel {
  position: relative;
  width:500px;
  height:100%;
  margin: auto;
}

img.item{
  width: 60%;
  height: 400px;
  margin: auto;

}

.list{
  padding-left: 50px;
  padding-top: 20px;
}

.list ul{
  padding-left: 0px;
  margin-top: 25px;
}

.list li{
  margin-bottom: 8px;
}
/* -------------- Footer --------- */

.footer{
  background-color: #1C458D;
  text-align: center;
  padding-bottom: 50px;
}

.fa{
  font-size: 4.5em;
  color: #C0C0C0;
}

/* ------- Media Queries -------- */

@media only screen and (max-width: 990px){
  .intro-text{
    margin-top: 30px;
    width: 100%;
  }
  .fa{
    font-size: 3em;
  }
}

@media only screen and (max-width: 600px){
  .carousel {
    position: relative;
    width:300px;
    height:100%;
    margin-left: auto;
    margin-right: 0px;
    padding-left: 0px;
  }
}
